body{
    background-image: url(src/BG.png);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   

    height: 100vh;
}

a, h2, h3, h4, h5, p, span, label{
    font-family: Roboto;
    color: #FFDEAE;
}

h1 {
    font-family: 'Libre Baskerville', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700; 
    font-size: 38px;  
    line-height: 168%;
    color: #FCBB4A;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(18px);    
}

h2{
    font-size: 26px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
}

h3 {
    height: 18.39080459770115%;
    font-weight: 900;
}

h4{
    font-size: 20px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: center;

    align-self: end;
}

h5{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #FCBB4A

    text-decoration: underline;
}


a {
    font-weight: 400;
    font-size: 15px;
    text-decoration:underline;
}

p{
    font-weight: 200;
}

#destaquesTitle{
    font-size: 55px;
    line-height: 64px;

    left: 125px;
    top: 67px;
}

#contatoTitle{
    font-size: 43px;
    line-height: 50px;

    left: 85px;
    top: 72px;
}

#perfilTitle{
    font-size: 47px;
    line-height: 55px;

    left: 95px;
    top: 70px;
}

#title{
    background-color: #384C2C;
    opacity: 75%;
    filter: drop-shadow(0px 4px 4px #EFBC94);

    text-align: center;

    width: 100vw;
    height: 171px;
    left: 0px;
    top: 350px;
}

#legenda{
    font-size: 35px;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    
}


#cardWrap{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 8px;
    grid-row-gap: 7.5px;

    
}

.card{
    width: 196px;
    height: 261px;
    border-radius: 12px;
    background-color: #384C2C;

    padding-top: 4px;
    margin-top: 4px;

    display:flex;
    flex-direction: column;
    text-align:center;
    justify-content:center;
}

.cardImg{
    border-radius: 11px;

    width: 100%;
    min-height: 81.60919540229885%;
}

#cardGaleria{
    width: 434px;
    height: 578px;

    display: grid;
}

#galeria{
    grid-auto-flow: dense;
    height: 524px;
    width: 430px;
    border-radius: 8px;
}

#galeriaPlaceholder{
    height: 52px;
    width: 434px;
    padding: 16px; 
    margin-top: -20px;

    align-self: flex-end;
}

.galeriaImg{
    max-width: 143px;
    max-height: 160px; 
}

#cardDetalhes{
    height: 570px;
    width: 428px;

    display: flex;
    flex-direction: column;
}

.detalhesDescricao{
    color:#FFDEAE;
}

.detalhesImg{
    width: 100%;
    height: 100%;
    max-width: 420px;
    max-height: 442px;
    aspect-ratio: 210 / 221;
    border-radius: 11px;
    margin: 4px;

}

#detalhesPlaceholder{
    margin-top: 20px;
    margin-left: 16px;
}


form{
    width: 384px;
    height: 530px;
    
    background-color: #384C2C;
    border-radius: 12px;
}    

.inputItself{
    box-sizing: border-box;

    
    width: 313px;
    height: 49.03px;
    left: 93px;
    top: 222.6px;

    border: 1px solid #BFA887;
    border-radius: 2px;    
}

#bioLeft {
    width: 311px;
    height: 525.73px;

    background-color: #384C2C;
    border-radius: 12px;  
}

.bioItem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 8px;
}

span{
    padding-top: 17px;
}



