body{
    background-image: url(src/BG.png);
}

h1 {
    font-family: 'Libre Baskerville', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: bold;  
    font-size: 38px;  
    color: #FCBB4A;
}

a, h2, p, span, label{
    font-family: Roboto;
    color: #FFDEAE;
}

a {
    font-style: Regular;
    font-size: 15px;
    text-decoration:underline;
}


#legenda{
    font-style: ExtraLight;
    font-size: 35px;
}

#title{
    background-color: #384C2C;
    opacity: 75%;
    filter: drop-shadow(0px 4px 4px #EFBC94);
}

